/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background: #f9f7f3;      /* matches page background */
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #ddd;
  
    z-index: 1000;
    box-sizing: border-box;
    overflow: visible;
    color: #222;
    font-family: "Arapey", serif;
}
  
  .navbar-left {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    flex-shrink: 0;
  }
  
  .navbar-right {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    flex-shrink: 0;
  }
  
  
  .navbar-right a,
  .dropdown-title {
    margin-left: 1.35rem;
    font-size: 1.25rem;
    text-decoration: none;
    align-items: center;
    color: #222;
    cursor: pointer;
    white-space: nowrap;    /* prevent clipping */
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    
  }
  
  .dropdown-content {
    position: absolute;
    top: 2.2rem;
    right: 0;
    font-size: 1rem;
    background: #f9f7f3;
    border: 1px solid #ddd;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    min-width: 130px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }
  
  .dropdown-content a {
    margin: 0.35rem 0;
    text-decoration: none;
    color: #222;
  }
  
  .dropdown-content a:hover {
    text-decoration: underline;
  }
  