@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: "Arapey", serif;
  background: #f5f5f5;
  }
  .page-container {
  padding-top: 80px; /* space for sticky navbar */
  }
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
